

.auth_section {
    width: 100%;
    
    .auth_section_content {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        position: relative;
        .tabs_wrapper {
            max-width: 580px;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #c4c4c4;
            display: flex;
            flex-direction: row;
        }

        .form_wrapper {
            width: max-content;
            
        }

        .assistant_wrapper {
            width: max-content;

            position: absolute;
            left: 0;
            top: 30%;
        }
    }
}