$defaultFont: "Roboto", sans-serif;


$gradient-orange-to-blue: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);

//button
$dark-navy-blue: #00093C;
$orange: #F7941D;
$orange-hover: #FFAE4D;
$blue: #27AAE1;
$black: #000;

//cards
$cool-gray: #DDDFE6;
$ice-blue: #C7EEFF;
$peach: #FFCE94;
$peach-yellow: #FFE38E;
$lavender-blue: #DDDDFF;
$aqua-mist: #B8EFCF;
$sky-mist: #C7EEFF;
$honey-cream: #FFE9A8;
$dawn-rose: #FFEEF6;

