@use './vars' as *;
@use './mixins' as *;


html,
body,
#root {
    position: relative;
    font-family: $defaultFont;
}

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    border-radius: 6px;
    
    cursor: pointer;
    width: 200px;
    height: 50px;
    @include text-style(14px, 700, $black);
    @media (max-width: 1024px) and (min-width: 768px) {
        width: 250px;
        @include text-style(14px, 700, $black);
    }
    @media (max-width: 768px) {
        width: 300px;
        @include text-style(14px, 500, $black);
    }
}


