@use '@styles/vars' as *;
@use '@styles/mixins' as *;


.stat_item {
    width: max-content;
    height: auto;

    display: flex;
    flex-direction: column;
    

    .line_gradient {
        width: 100%;
        height: 2px;
        background: $gradient-orange-to-blue;
        margin-bottom: 10px;
    }

    .label, .value {
        font-size: var(--details-page-stats-items-font-size);
        font-weight: var(--details-page-stats-items-font-weight);
        color: var(--details-pages-stats-items-color);
        font-family: $defaultFont;
    }
}