@use '@styles/mixins' as *;
@use '@styles/vars' as *;

.outline_btn {
    width: var(--button-width);
    height: var(--button-height);
    background: transparent;
    border: 2px solid $dark-navy-blue;
    transition: border 100ms ease;
    transition: background 250ms ease-in-out;
    &.blue:hover {
        background: $dark-navy-blue;
        border: none;
        color: $white;
    }
    &.black:hover {
        background: $black;
        border: none;
        color: $white;
    }
    
}